@charset "UTF-8";

/* TABLETS */

@media screen and (min-width:660px ) and (max-width:1000px) {
    header{
        flex-direction: row;
    }
    section.imagens-hotel > ul.grid > li {
        height: 30vh;
        padding: 20px;
        border-radius: 7px;
    
        background-size: cover;
        background-clip: content-box;
        
    }
    section.imagens-hotel > ul.grid > li{
        margin: 5px 5px;
    }
    section.imagens-hotel > ul.grid > li.small{
        flex-basis: 40%;
        background-size: contain;
        background-position: center bottom;
    
    }
    section.imagens-hotel > ul.grid > li.large{
        flex-basis: 50%;
    }

    form#formulario > input[type=email]{
        width: 350px;
        margin-bottom: 100px;
        height: 35px;
    }
}

/* TELAS GRANDES */

@media screen and (min-width: 1000px) {
    header{
        flex-direction: row;
    }
    section.imagens-hotel > ul.grid > li {
        height: 40vh;
        padding: 20px;
        border-radius: 7px;
    
        background-size: cover;
        background-clip: content-box;
        
    }
    section.imagens-hotel > ul.grid > li{
        margin: 5px 5px;
    }
    section.imagens-hotel > ul.grid > li.small{
        flex-basis: 40%;
        background-size: contain;
        background-position: center bottom;
    
    }
    section.imagens-hotel > ul.grid > li.large{
        flex-basis: 50%;
    }

    section.caracteristicas> ul.grid{
        flex-direction: row
    }

    section.caracteristicas  span{
        font-size: 3em;

    }
    form#formulario > input[type=email]{
        width: 350px;
        margin-bottom: 100px;
        height: 35px;
    }
}